export(plotPIccc)
importFrom("grDevices", "rgb","grey","palette","rainbow")
importFrom("grDevices", "dev.new","dev.list","dev.off")
importFrom("graphics",  "axis","box","rect","segments","text")
importFrom("graphics",  "abline","hist","lines","par","points")
importFrom("stats",     "median","coef","var","addmargins")
importFrom("stats",     "aggregate", "quantile","density")
importFrom("stats",     "na.omit")
importFrom("utils",     "flush.console","str")
